
<ion-header color="light">

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Inscription</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content  >


        <form>

            <div   color ="dark"  >

                <ion-item  color="light" class="rounded">
                    <ion-label fixed>nom </ion-label>:
                    <ion-input    type="text" value=""></ion-input>
                </ion-item>
                <ion-item  color="light" class="rounded">
                    <ion-label floating>prenom </ion-label>:
                    <ion-input  placeholder="" type="text" value=""></ion-input>
                </ion-item>
                <ion-item  color="light" class="rounded">
                    <ion-label floating>email </ion-label>:
                    <ion-input   type="email" value=""></ion-input>
                </ion-item>

                <ion-item  color="light" class="rounded">
                    <ion-label floating>password </ion-label>:
                    <ion-input    type="password" value=""></ion-input>
                </ion-item>
                <ion-item  color="light" class="rounded">
                    <ion-label floating>password </ion-label>:
                    <ion-input   type="password" placeholder="taper à nouveau" value=""></ion-input>
                </ion-item >


                <ion-item color="light" class="rounded">
                    <ion-label>situation familiale</ion-label>
                    <ion-select multiple="false" cancelText="annuler" okText="ok">
                        <ion-select-option value="1">celibataire</ion-select-option>
                        <ion-select-option value="2">marié</ion-select-option>
                        <ion-select-option value="3">veuf</ion-select-option>
                        <ion-select-option value="4">divorcé</ion-select-option>
                    </ion-select>
                </ion-item>
            </div>
        </form>
    <ion-item   color="light" class="rounded">
        <ion-label>Date de naissance</ion-label>
        <ion-datetime displayFormat="MM DD YYYY" placeholder=""></ion-datetime>
    </ion-item>



</ion-content>
