ion-button{
  display: block;
  justify-content: center;
  align-items: center;}
ion-fab-button, .cc{
  margin-left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;}

ion-content{
  --ion-background-color: #222428;

}
ion-header{
  --ion-background-color: #222428;
    --ion-color-light: #fffbfc;
}

ion-input {
  font-size: 16px;
  display: block;
}

.rounded {
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top:10px;
  width: 90%;
  height: 40px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 5px;
}
ion-label{
  margin-right: 10px;
  width :80px;
}
