
<ion-header color="light" class="header">

  <ion-toolbar color ="dark">

    <ion-title>search</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content  color ="dark" >


  <form >

    <div   >
      <ion-item color="light" class="rounded">
        <ion-label>precisez vos choix de recherche</ion-label>
        <ion-select #select (ionChange)="onSelect()" name="choix"  required  multiple="false" cancelText="annuler" okText="ok">
          <ion-select-option value=1 >Nom</ion-select-option>
          <ion-select-option value=2>Prenom</ion-select-option>
          <ion-select-option value=3>Pays</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item  color="light" class="rounded">
        <ion-label  fixed>{{label}} </ion-label>

      </ion-item>

        <ion-list  color ="dark">
          <ion-item-sliding #sliding *ngFor="let obj of users">
            <ion-item (click)="goToProfile(obj)" >
              <ion-avatar item-start>
                <img [src]="obj.userPicture">
              </ion-avatar>
              <h5>{{ obj.prenom }} <span ion-text color="primary">{{ obj.nom }}</span></h5>
            </ion-item>

          </ion-item-sliding>
        </ion-list>


    </div>
  </form>
</ion-content>
