sqdkqsldl
<ion-tabs>
  <ion-tab-bar  color="primary">
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>search</ion-label>
    </ion-tab-button>
  <ion-tab-button download tab="profile">
    <ion-icon name="at"></ion-icon>
    <ion-label>profile</ion-label>
  </ion-tab-button>
    <ion-tab-button tab="conversations">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>conversations</ion-label>
    </ion-tab-button>
</ion-tab-bar>

</ion-tabs>
